@import "specra/styles";
@source "./**/*.{js,ts,svelte}";

@theme {
    --font-sans: "Geist", "Geist Fallback", system-ui, sans-serif;
    --font-mono: "Geist Mono", "Geist Mono Fallback", monospace;
}
